@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding:0;
    margin: 0;
}
h1{
    color: aliceblue;
}
header nav a{
    color: aliceblue;
    border: 50pxsolid;
    
     text-decoration:none ;
}
header{
    font-family: "Zalando Sans", sans-serif;
    text-align:center;
    background-color: rgb(118, 109, 136);
    /*display:flex;*/
    justify-content: center;
    flex-wrap;
   
}

#sobre{
    text-align: center;
}
body
{
        background-color: rgba(0, 38, 255, 0.219);
    
        #Projetos{
            text-align: center;
        }
      #Contato{
        h2{
            text-align: center;
        }
      }
}
    header nav a {
        background-color: blueviolet;
        color:aquamarine
    }
    header nav a:active {
        background-color: brown;  
    }



